<div class="violet-about">
    <h4 class="v-section-tit">About HuangJian</h4>
    <article class="violet-about-det">
        <!--<p id="J_myFace" class="v-my-face"><img src="/images/face/iampizn-1.png" alt="Hello PIZn!" width="146px" height="100px" id="J_myFace_img" /><span>Face to Face!</span></p>--> 
        <p>来自美丽的小县城瑞安</p>
        <p>目前北漂，就职<em>百度联盟研发部</em>，着力于用户兴趣挖掘，互联网广告系统平台</p>
        <p>自我评价，是一个：</p>
        <p>“ 喜欢并追求新奇的事物，</p>
        <p>热衷并创造酷的应用。”</p>   
    </article>
    <p class="v-more-right">
        <a href="/contact.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->
